[submodule "packages/common"]
	path = packages/common
	url = ../common
[submodule "packages/raid"]
	path = packages/raid
	url = ../../../base/raid
[submodule "packages/smbus"]
	path = packages/smbus
	url = ../../../base/smbus
[submodule "packages/brcm-raid-redfish"]
	path = packages/brcm-raid-redfish
	url = ../brcm-raid-redfish/
	branch = LTS-v13
